body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}
.navbar-fixed-top {
  .nav {
    padding: 15px 0;
  }
  .navbar-brand {
    padding: 0 15px;
  }
}
@media(min-width:768px) {
  body {
    padding-top: 100px;
    /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  }
  .navbar-fixed-top {
    .navbar-brand {
      padding: 15px 0;
    }
  }
}
